/* =========================
   MUUTTUJAT
   ========================= */

:root {
  --text-color: #030f12;
  --text-color-lighter: #061d23;
  --midnight-green: #0f4c5c;
  --tan: #c8ab83;
  --antique-white: #faeedb;
  --sage: #cacaaa;
  --tyrian-purple: #5f0f40;
}

/* =========================
   PERUSASETUKSET
   ========================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
  font-size: 1rem;
  background-color: var(--antique-white);
}

.h1-style {
  font-family: "Lucida sans", sans-serif;
  font-size: 3.5rem;
}

.h2-style {
  font-family: "Lucida sans", sans-serif;
  font-size: 3rem;
}

/* =========================
   NAVIGOINTI
   ========================= */

nav {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: 1fr auto 1fr; /* luodaan skaalautuva osio nav-linkeille*/
  align-items: center; /*keskitetään pystysuunnassa*/
  background-color: var(--sage);
  border-top: 2px solid var(--midnight-green);
  border-bottom: 2px solid var(--midnight-green);
}

.logo-area {
  align-items: center; /*keskitetään logo ja tekstit*/
  justify-self: start; /*logo ja teksti selaimen vasempaan reunaan*/
  margin-left: 2rem;
  display: flex;
  flex-direction: row; /*logo ja teksti vierekkäin desktopilla*/
}

.logo-area-text-container {
  margin-left: 4rem;
  color: var(--text-color-lighter);
}

.logo-area-text-container > p {
  font-size: 1.25rem;
  margin-left: 0.25rem;
}

.navbar {
  grid-column: 2; /*sijoitetaan linkit keskimmäiseen sarakkeeseen*/
  list-style: none; /*poistetaan listapallukat linkeistä*/
  display: flex;
  flex-direction: row; /*linkit vaakariviin*/
}

.navlink {
  color: #fbf4e2; /* hitusen vaaleampi kuin antique-white*/
  font-weight: bolder;
  background-color: var(--midnight-green); /*nappeja muistuttavat linkit*/
  margin: 0.25rem clamp(2px, 1vw, 2rem) 0.25rem clamp(2px, 1vw, 2rem); /* linkkien väli responsiiviseksi*/
  border: 2px solid var(--text-color);
  border-radius: 0.5rem;
  padding: 1.25rem; /* tila linkkinapin sisällä */
  text-align: center;
  text-decoration: none; /* poistetaan underline*/
  font-size: 1.5rem;
  display: inline-block; /* tällä saadaan esim. mid-width käyttöön */
  min-width: 15rem;
}

.navlink:hover,
.navlink.active:hover {
  background-color: #1a7f94; /* linkkinapin tausta vaalentuu */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
  transition: background-color 0.2s; /* pieni viive taustavärinvaihtoon */
}

.navlink.active {
  background-color: var(--tyrian-purple);
}

@media (max-width: 768px) {
  .logo-area {
    margin-bottom: 0.5rem;
    flex-direction: column; /*logo ja teksti päällekäin*/
  }

  .logo-area-text-container {
    margin-left: 0;
  }

  .logo-area-text-container > h2 {
    font-size: 2rem;
    text-decoration: none;
  }

  .logo-area-text-container > p {
    display: none; /* jemmataan slogan, koska ei mahdu*/
  }

  nav {
    grid-template-columns: 1fr 1fr; /* osat logolle ja navigoinnille*/
  }

  .navbar {
    flex-direction: column; /*linkit pystyriviin*/
    gap: 0.25rem;
    padding: 0.25rem 0;
    align-items: center;
  }

  .navlink {
    margin: 0.25rem 1.5rem 0.25rem 0;
    padding: 0.25rem;
    min-width: 12rem;
  }
}

/* =========================
   ETUSIVU
   ========================= */

/* =========================
   PALVELUT
   ========================= */

/* =========================
   YHTEYSTIEDOT
   ========================= */

.yhteystiedot {
  height: 100vh; /* selaimessa näkyvän alueen koko korkeus */
  width: 100vw; /* selaimessa näkyvän alueen koko leveys */
  background: url("kuvat/taustakuva_koirat.jpg") center/cover no-repeat; /* keskitetty, koko ruudun kattava kuva */
  overflow: hidden; /* estää turhien scroll barien ilmestymisen */
}
