/* =========================
   VARIABLES
   ========================= */

:root {
  --text-color: #030f12; /* Näistä voisi vaikka pelkästään toisen valita käyttöön?*/
  --text-color2: #061d23;
  --midnight-green: #0f4c5c;
  --tan: #c8ab83;
  --antique-white: #faeedb;
  --sage: #cacaaa;
  --tyrian-purple: #5f0f40;

  --h1-font-size: 2rem;
  --h2-font-size: 1.5rem;
  --nav-font-size: 1.25rem;
  --paragraph-size: 1rem;
}

/* =========================
   RESET STYLES
   ========================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
  background-color: var(--antique-white);
}

/* =========================
   NAVIGATION
   ========================= */

.navbar {
  list-style: none;
  margin: 1rem 0;
  display: flex;
  flex-direction: horizontal;
  justify-content: center;
  background-color: var(--sage);
  border-top: 2px solid var(--midnight-green);
  border-bottom: 2px solid var(--midnight-green);
}

.navbar li {
  margin: 2rem 2rem;
}

.navlink {
  text-decoration: none;
  font-size: var(--nav-font-size);
  color: var(--text-color);
}

.navlink:hover {
  color: white;
}

/* Flash color on click */
.navlink:active {
  color: var(--text-color);
}

/* The active page */
.navlink.active {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

/* =========================
   ETUSIVU
   ========================= */

/* =========================
   PALVELUT
   ========================= */

/* =========================
   YHTEYSTIEDOT
   ========================= */
